html{
  min-height:100%
}

body{
    font-family: 'Comfortaa', cursive;
    background-image: linear-gradient(to bottom right, #FFD7F6, #D150FF);
    height: 100%;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #D150FF;
    width: 100%;
  }

a{
  text-decoration: none;
  color: #fff;
} 
  
a:hover {
    color: #740068;
    text-decoration: none;
    
  }

.nav-links a :hover{
    color: rgb(132, 34, 130);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  width:160px;
  display:block;
  float: left;
  text-align:center;
}
